{
    "tokens": {
      "live": "",
      "dev": ""
    },
    "prefix": {
    	"live": "v!",
    	"dev": "d!"
    },
    "channels": {
        "logging": "logs"
    },
    "roles": {
        "moderator": "Moderator",
        "admin": "Admin",
        "muted": "Muted"
    },
    "assignableRoles": {
        "notify": "Notify",
        "poll": "VotePings"
    }
}